/******************************************
/* CSS
/*******************************************/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  height: 100vh;
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-weight: bold;
  color: rgb(3, 34, 119);
  background-image: url('../images/clouds.jpg');
  background-size: cover;
  repeat: no-repeat;
}

@-webkit-keyframes blueWhite {
  0% { background-color:rgba(155, 200, 255, 0.3) }
  10% { background-color:rgba(150, 190, 250, 0.3) }
  20% {background-color:rgba (140, 180, 245, 0.3) }
  30% {background-color:rgba(130, 170, 240, 0.3) }
  40% { background-color: rgba(120, 160, 235, 0.3) }
  50% { background-color:rgba(110, 150, 230, 0.3) }
  60% { background-color:rgba(110, 160, 230, 0.3) }
  70% { background-color: rgba(120, 170, 240, 0.3) }
  80% { background-color: rgba(130, 180, 245, 0.3) }
  90% { background-color: rgba(140, 190, 250, 0.3) }
  100% { background-color: rgba(150, 200, 255, 0.3) }

}

.changeColor {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 0;
  background-color: white;
  -webkit-animation-name: blueWhite;  
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-duration: 20s; 
  repeat: no-repeat;
  background-size: cover;
}

.container {
  height: 100vh;
  margin: 30vh 0 0 0;
  box-shadow:10px 10px 5px 10px rgb(3, 34, 119);
  background-color: rgb(232, 234, 250);
}

.text {
  width: 100vw;
  height: 90vh;
}

img{
  display: block;
  margin: 0 0;
}

h1 {
  height: 10%;
  margin: 1;
  padding-top: 3rem;
  text-shadow:1px 1px 1px black;
  font-size: 3rem;
}

input {
  border: 1px solid rgb(3, 34, 119);
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(3, 34, 119);
  padding: .5rem 1rem;
  text-align: center;
}

button {
  border-radius: 5px;
  padding: .5rem 1rem;
  background-image: linear-gradient( rgb(3, 50, 182), rgb(2, 21, 73));
  box-shadow: 2px 2px 2px rgb(3, 34, 119);
  color: white;
}

footer {
  width: 100vw;
  height: 5vh;
  text-align: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media only screen and (max-width: 600px) {
  container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  input {
    width: 50%;
    margin-bottom: 1rem;
  }
  
  button {
    width: 50%;
  }
}